* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-brown {
  background-color: #5c4131 !important;
}

.bg-cream {
  background-color: #f9f3e7;
}

.gallery-img {
  width: 100px;
  height: 100px;
}

.social-icon {
  width: 50px;
}