* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-brown {
  background-color: #5c4131 !important;
}

.bg-cream {
  background-color: #f9f3e7;
}

.font-cream {
  color: #f9f3e7;
}

.logo {
  width: 50px;
}

.banner-img {
  height: 200px;
  width: 100vw;
}

.about-img {
  width: 75%;
}

.gallery-img {
  width: 100px;
  height: 100px;
}

.social-icon {
  width: 50px;
}

.text-outline {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

/* Galeria */

.gallery-title{
    font-size: 36px;
    color: #3F6184;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.filter-button{
    font-size: 18px;
    border: 2px solid #5c4131;
	padding:5px 10px;
    text-align: center;
    color: #5c4131;
    margin-bottom: 30px;
	background:transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
  background-color:#f9f3e7;
	outline:none;
}
.gallery_product{
    margin: 0px;
	padding:0;
	position:relative;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
}

.img-responsive {
  width: 100px;
}

/* Responsivo */

@media (min-width: 425px) {
  .banner-img {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .banner-img {
    height: 350px;
  }

  .filter-button {
    font-size: 30px;
  }

  .contact {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .banner-img {
    height: 500px;
  }

  .about-img {
    width: 450px;
  }
}

@media (min-width: 1440px) {
  .banner-img {
    height: 600px;
  }

  .about-img {
    width: 550px;
  }

  #about p {
    font-size: 35px !important;
  }
}

@media (min-width: 1920px) {
  .banner-img {
    height: 900px;
  }
}